.college-icon-1 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-2 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-3 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-4 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-5 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-6 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-7 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-8 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-9 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-10 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-11 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-12 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-13 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-14 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-15 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-16 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-17 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-18 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-19 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}
.college-icon-20 {
  background: url('/images/sprite-logos.png');
  background-position: calc(-96px * 0) calc(-96px * 0);
  width: 96px;
  height: 96px;
}