* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --swiperHeight: 510px;
}
a {
  text-decoration: none;
  color: inherit;
}
.diliver_v {
  margin: 0 24px;
  border-left: 2px solid #bebebe80;
  height: 100%;
}
.top_menu_item {
  font-size: 14px;
  padding: 12px;
  transition: all 100ms linear;
  font-weight: 300;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_menu_item:hover {
  background: #fff;
  color: #3e3e3e;
}

.page-footer {
  background-color: #222;
  color: #837c7a;
}
.footer-body {
  font-weight: 200;
}
.footer-body li {
  line-height: 35px;
}
.module_menu {
  display: flex;
  align-items: center;
  gap: 8px;
}
.module_menu i {
  font-size: 20px;
  color: #5a5a5a;
}

#content {
  min-height: 90vh;
  margin: 0 auto;
}
.title {
  font-weight: 600;
  font-size: 20px;
  margin-top: 32px;
}

.iconBtn {
  border-radius: 30px;
  padding: 4px;
  background-color: #b4b4b433;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
}
.iconBtn:hover {
  background-color: #1890ff;
  color: #fff;
}

.evaPane {
  border-radius: 8px;
  background-color: #b4b4b433;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  min-width: 220px;
  cursor: pointer;
  transition: all 100ms linear;
}
.card-pane {
  border-radius: 12px;
  padding: 16px 24px;
  cursor: pointer;
  transition: all 100ms linear;
  height: 200px;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  position: relative;
  width: 200px;
}
.cardIcon {
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.color-light-black {
  color: #3e3e3e;
}
.bg-light-black {
  background-color: #3e3e3e !important;
}

.color-dark-gray {
  color: #5a5a5a;
}
.swiper {
  width: 100%;
  height: var(--swiperHeight);
}

.swp1 {
  background-image: url('http://www.bingoenglish.com/assets/temp/banner1.jpg');
  background: url('http://www.bingoenglish.com/assets/temp/banner1.jpg') center center no-repeat;
  background-size: cover;
  height: var(--swiperHeight);
}
.swp2 {
  background: url('http://www.bingoenglish.com/assets/temp/banner2.jpg');
  background-position: center center;
  background-repeat: no-repeat;

  height: var(--swiperHeight);
}
.swp3 {
  background: url('http://www.bingoenglish.com/assets/temp/banner3.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  height: var(--swiperHeight);
}
.serverPane {
  border-radius: 8px;
  background-color: #b4b4b433;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 180px;
  cursor: pointer;
  transition: all 100ms linear;
}
.engTitle {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}
.color-dark-blue {
  color: #2f327d
}
.gap-2rem {
  gap: 4rem;
}