* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.top_menu_item {
  /* width: 80px; */
  font-size: 16px;
  padding: 0 12px;
  border-radius: 8px;
  transition: all 100ms linear;
  min-height: 48px;
  display: flex;
  align-items: center;
}
.top_menu_item:hover {
  background: #1890ff33;
}
#top_container_menu {
  width: 200px;
}

.page-footer {
  background-color: #222;
  color: #837c7a;
}
.footer-body {
  font-weight: 200;
}
.footer-body li {
  line-height: 35px;
}
.module_menu {
  display: flex;
  align-items: center;
  gap: 8px;
}
.module_menu i {
  font-size: 20px;
  color: #5a5a5a;
}

#content {
  max-width: 1200px;
  min-height: 90vh;
  margin: 0 auto;
}
.title {
  font-weight: 600;
  font-size: 20px;
  margin-top: 32px;
}