<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>冰果英语</title>
    <!-- AOS -->
    <link rel="stylesheet" href="../css/aos.css" />
    <!-- <script src="../st/js/jquery-1.2.6.js" type="text/javascript"></script> -->
    <!-- <script type="text/javascript" src="../st/js/login_st.js"></script> -->
    <!-- <script type="text/javascript" src="../st/js/ability/level_1.js"></script> -->
    <!-- <script type="text/javascript" src="../st/js/index/index_ability.js"></script> -->
    <link rel="stylesheet" href="../css/ability.css" />
    <link href="../css/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/atom.css" type="text/css" />
    <link rel="stylesheet" href="../css/skilline.css" />

    <script src="../js/vue.global.js"></script>
    <link rel="stylesheet" href="../css/iconfont.css" />
    <script src="../js/toast.js"></script>
    <link rel="stylesheet" href="../css/toast.css" />
    <link rel="stylesheet" href="../css/loader.css" />
    <script src="../js/bp_init.js"></script>
  </head>

  <body>
    <div id="app">
      <div id="toast-container"></div>
      <header-bar :size="width" :online-info="state.onlineInfo">
        <template #nav>
          <nav-pane :size="width"></nav-pane>
        </template>
        <nav-bottom></nav-bottom>
      </header-bar>

      <level-type
        :size="width"
        :type="state.type"
        @change="handleChangeType"
      ></level-type>
      <div v-if="width < 980">
        <topic-menu
          :topics-list="state.topicsList"
          @pick="handlePickTopic"
        ></topic-menu>
      </div>
      <div class="articlePane articlePaneWrap">
        <div class="levelTitle">冰果能力：<span>四级</span></div>
        <div class="" :class="{'flex': width > 980}">
          <div style="width: 300px" class="flex-0" v-if="width > 980">
            <div
              v-for="item in state.topicsList"
              @click="handlePickTopic(item)"
              :class="{menuItemActive: state.topic === item.id}"
              class="flex items-center menuItem"
            >
              <img class="mr-8" :src="item.image" alt="" />
              <div>
                <div
                  class="font-size-16 font-weight-600"
                  style="color: rgb(31, 41, 55)"
                >
                  {{item.en_name}}
                </div>
                <div class="font-size-12" style="color: rgb(107, 114, 128)">
                  {{item.ch_long_name}}
                </div>
              </div>
            </div>
          </div>
          <div class="flex-1 articleContent pos-r">
            <div class="pos-r">
              <div v-for="(articles, index) in state.articleList">
                <div class="abilityName">
                  <div class="abilityNameContent">{{articles.name}}</div>
                  <div class="abilityNameIntro">{{articles.skill_type}}</div>
                </div>
                <template v-for="(item, index) in articles.items" :key="index">
                  <div
                    class="articleItem items-center mb-16"
                    :class="{'flex': width > 980}"
                    v-if="index < 5 || articles.show"
                  >
                    <div
                      class="mr-16"
                      :class="{'flex justify-between items-center': width < 980}"
                    >
                      <img
                        :src="state.imagesList[index%(state.imagesList.length)]"
                        alt=""
                      />
                      <template v-if="width < 980">
                        <div class="pl-16" v-if="state.onlineInfo.online">
                          <div
                            class="font-size-12 color-purple text-align-center mb-4"
                          >
                            得分: {{item.score}}
                          </div>
                          <button
                            class="article_btn block mb-4"
                            @click="handleJump(item.url)"
                          >
                            开始
                          </button>
                          <button
                            class="article_btn"
                            @click="handleJump(item.redo_url)"
                            v-if="item.finished"
                          >
                            重试
                          </button>
                        </div>
                        <div v-else class="ml-16">
                          <button class="article_btn" @click="handleStart">
                            开始
                          </button>
                        </div>
                      </template>
                    </div>
                    <div :class="{'ml-16': width > 980}" class="flex-1">
                      {{item.introduction}}
                    </div>
                    <template v-if="width > 980">
                      <div class="pl-16" v-if="state.onlineInfo.online">
                        <div
                          class="font-size-12 color-purple text-align-center mb-4"
                        >
                          得分: {{item.score}}
                        </div>
                        <button
                          class="article_btn block mb-4"
                          @click="handleJump(item.url)"
                        >
                          开始
                        </button>
                        <button
                          class="article_btn"
                          @click="handleJump(item.redo_url)"
                          v-if="item.finished"
                        >
                          重试
                        </button>
                      </div>
                      <div v-else class="ml-16">
                        <button class="article_btn" @click="handleStart">
                          开始
                        </button>
                      </div>
                    </template>
                  </div>
                </template>
                <div
                  class="toggleMoreBtn"
                  v-if="articles.items.length > 5"
                  @click="articles.show = !articles.show"
                >
                  {{articles.show ? '收起' : '更多'}}
                </div>
              </div>
            </div>
            <div v-if="state.loading" class="loadingMask">
              <div class="loading">
                <div class="pos-r" style="height: 48px; height: 48px">
                  <div class="loader"></div>
                </div>
                <span class="loadingText">加载中</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 底部信息 -->
      <bottom-pane></bottom-pane>
      <div
        id="backToTop"
        class="back-to-top"
        @click="scrollToTop"
        v-show="showBackToTop"
      >
        <span
          class="iconfont icon-cc-arrow-up font-size-24 font-weight-600"
        ></span>
      </div>
    </div>
    <!-- ************************ script start ******************** -->
    <!-- AOS init -->
    <script src="../js/aos.js"></script>
    <script type="module">
      AOS.init();

      const { createApp, ref, reactive, onMounted, watch } = Vue;
      import useSize from "./useSize.js";
      import {
        getTopicList,
        getArticles,
        getTopicImages,
      } from "../api/index.js";
      const app = createApp({
        setup() {
          const state = reactive({
            articleList: [],
            imagesList: [],
            topicsList: [],
            loading: true,
            type: "listening",
            topic: "2",
            bingoBand: 4,
            onlineInfo: {
              online: false,
              valid: false,
              ip_valid: false,
              school: "",
              ip_string: "",
            },
            testService: {
              1: "ability",
              2: "gaokao",
              3: "cet4",
              4: "cet6",
            },
          });
          const { width } = useSize();
          const showBackToTop = ref(false);

          function handlePickTopic(item) {
            state.topic = item.id;
          }

          const fetchTopics = async () => {
            try {
              const res = await getTopicList();
              if (res?.length > 0) {
                state.topicsList = res;
              } else {
                state.topicsList = [];
              }
            } catch (e) {
              state.topicsList = [];
            }
          };

          const handleFetchArticles = async ({ type, topic }) => {
            const data = {
              testService: state.testService[state.bingoBand],
              ability: type,
              topic: topic,
              bingoBand: state.bingoBand, // 1,
              ran: Math.random(),
            };
            try {
              // let params = new URLSearchParams(data).toString();
              // state.loading = true;
              // const res = await fetchXMLtoJSON(
              //   "./mock/getNewAbilityMaterialsList.xml?" + params
              // );
              // const articles = handleGetArticles(res);
              // state.onlineInfo = {
              //   online: articles?.online,
              //   valid: articles?.valid,
              //   ip_valid: articles?.ip_valid,
              //   school: articles?.school,
              //   ip_string: articles?.ip_string,
              // };
              // state.articleList = articles?.todos;
              // state.loading = false;
              state.loading = true;
              const articles = await getArticles(data);
              if (articles) {
                state.onlineInfo = {
                  online: articles?.online,
                  valid: articles?.valid,
                  ip_valid: articles?.ip_valid,
                  school: articles?.school,
                  ip_string: articles?.ip_string,
                };
                state.articleList = articles?.todos;
                state.loading = false;
              } else {
                state.articleList = [];
              }
              state.loading = false;
            } catch (e) {
              state.topicsList = [];
              state.loading = false;
            }
          };

          const handleJump = (url) => {
            if (!url) {
              return;
            }
            if (url.startsWith("http")) {
              window.open(url, "_blank");
            } else {
              window.location.href = url;
            }
          };

          const handleStart = () => {
            if (!state.onlineInfo.online) {
              toast("请先登录");
              return;
            }
            if (!state.onlineInfo.valid) {
              toast("请先绑定学校");
              return;
            }
            if (!state.onlineInfo.ip_valid) {
              toast("请先绑定IP");
              return;
            }
          };

          const handleGetImages = async (topic) => {
            try {
              // const res = await fetchXMLtoJSON(`./mock/topic_${topic}.xml`);
              // const items = Array.from(res.querySelectorAll("pics url"));
              // // 取每个item下所有字段，自动转为JSON
              // const list = items.map((item) => {
              //   return item.textContent;
              // });
              // state.imagesList = list;
              const res = await getTopicImages(topic);
              if (res && res.length > 0) {
                state.imagesList = res;
              } else {
                state.imagesList = [];
              }
            } catch (e) {
              state.topicsList = [];
            }
          };

          watch(
            () => state.topic,
            (n) => {
              handleGetImages(n);
            },
            {
              immediate: true,
            }
          );

          watch(
            () => [state.topic, state.type],
            (n) => {
              handleFetchArticles({ type: n[1], topic: n[0] });
            },
            {
              immediate: true,
            }
          );

          // 平滑滚动到顶部
          const scrollToTop = () => {
            window.scrollTo({ top: 0, behavior: "smooth" });
          };

          function handleChangeType(type) {
            state.type = type;
          }

          onMounted(() => {
            fetchTopics();

            window.addEventListener("scroll", () => {
              showBackToTop.value = window.scrollY > 100;
            });
          });

          return {
            state,
            width,
            handleJump,
            handleStart,
            showBackToTop,
            scrollToTop,
            handleChangeType,
            handlePickTopic,
          };
        },
      });
      import LevelType from "./level-type.js";
      import BottomPane from "./bottom-pane.js";
      import NavBottom from "./nav-bottom.js";
      import NavPane from "./nav-pane/index.js";
      import HeaderBar from "./header-bar.js";
      import TopicMenu from "./topic-menu.js";

      app.component("level-type", LevelType);
      app.component("bottom-pane", BottomPane);
      app.component("nav-bottom", NavBottom);
      app.component("nav-pane", NavPane);
      app.component("header-bar", HeaderBar);
      app.component("topic-menu", TopicMenu);
      app.mount("#app");
    </script>
    <script>
      window.bpInit();
    </script>
  </body>
</html>
