.cooperateImage {
  height: 50px;
  width: 186px;
  background-image: url('../../assets/zjdx_logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.beianImage {
  height: 20px;
  width: 20px;
  background-image: url('../../images/beian.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}